.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 3px;
}

.element {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.element:hover {
  transform: scale(1.25, 1.25);
  z-index: 1;
  border: 1px solid black;
  padding: 3px;
}

.el-number {
  font-size: 0.6rem;
  align-self: flex-start;
}

.el-symbol {
  display: flex;
  font-size: 1.3rem;
  flex-grow: 1;
  align-items: center;
}

.el-name {
  font-size: 0.6rem;
}
